header {
  width: 100%;
  background-color:#0bcbed;
  height: 40px;
}

#logo{
  height: 40px;
}
#logo2{
  height: 100px;
  width:100px;
  // max-width: 50%;
  // display: block;
  // margin: auto;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  background-color:#0bcbed;
  padding: 20px 0 10px 0;
  color: white;
  margin: 10px 0;
  padding-bottom: 10px;
  font-size: 12px;
  bottom: 0;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}